{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<button class="button-big">coucou virginie</button>
    <button class="button">valider</button>
    <button class="onglet-use">Onglet</button>
    <button class="onglet">Onglet</button>
    <p class="color"> Hellooo worlllddd</p>
    <p class="decision"> Prise de décision commencée</p>

    <div class="my-card">
        <div class="my-card-body">
            <h2 class="my-card-title">Card title</h2>
            <p class="my-card-text">Some quick example text to build on the card title
                and make up the bulk of the card's content.</p
                <p>Par Jojopok</p>
        </div>
    </div>
{% endblock %}
