{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<button class="button-big">Hello world</button>
    <button class="button">Hello world</button>
    <button class="onglet">Onglet</button>
    <p class="color"> Hellooo worlllddd</p>
{% endblock %}
