{% extends 'base.html.twig' %}

{% block title %}Editer utilisateur{% endblock %}

{% block body %}
    <h1>MODIFIER</h1>

   {{ include('admin/_form.html.twig', {'button_label': 'Valider'}) }}

        <button class="btn" onclick="window.location.href='{{ path('app_admin_index')}}'">Retour à la liste</button>

    {{ include('admin/_delete_form.html.twig', {'user': user}) }}

{% endblock %}
