<form method="post" action="{{ path('app_opinion_delete', {'id': opinion.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cet avis ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ opinion.id) }}">
    <button class="btn">Delete</button>
</form>
