
    {{ form_start(form) }}
<div class="container">
    <div class="my-card-boxe">
{#       <div class="txt">#}
          <div class="bloce">

                {{ form_row(form.text, {label: 'Ecrivez ici :'}) }}
          </div>
    <button type="submit" class="btn">valider</button>
    {{ form_end(form) }}

{#            </div>#}
     </div>
</div>
