

{{ form_start(form) }}
<div class="form-background-opinion">

    <div class="formTextOpinion">
                {{ form_row(form.text, {
                    label: 'Ecrivez ici :'}) }}
        <button type="submit" class="button opinion">valider</button>
    </div>

{#    <button type="submit" class="btn">valider</button>#}

    {{ form_end(form) }}

</div>

