{% extends 'base.html.twig' %}

{% block title %}Nouvel Avis{% endblock %}

{% block body %}
    <h1 class="opinionTitle">Donner votre avis</h1>

    {{ include('opinion/_form.html.twig') }}
{#    <button class="btn" onclick="window.location.href='{{ path('app_opinion_index')}}'">Retour à la liste</button>#}
{#    <a href="{{ path('app_opinion_index') }}">back to list</a>#}
{% endblock %}
