
h1 {
    font-size: 2rem;
    font-family: $font-text;
    color: #0B3A44;
    font-weight: bold;
    text-align: center;
    margin: 3%;
}

.search {
    font-family: $font-text;
    color: #0B3A44;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.input {
    float: right;
    margin-right: 5%;
    margin-top: 8%;
    padding: 0.5rem;
    background-color: rgba(25, 108, 132, 0.30);
    border-radius: 6.6rem;
    font-size: 1rem;
    font-weight: bold;
    color: #0B3A44;
    border: none;
    cursor: pointer;
}

.table {
    font-family: $font-text;
    color: #0B3A44;
    margin-top: 4rem;
    width: 100%;
    border-collapse: collapse;
    border-radius: $border-radius;
    background-color: $color-first;
    box-shadow: $box-shadow-total;
    padding: 1.2rem;
}

.table th,
.table td {
    padding: 8px;
    line-height: 1.42857143;
    border: 1px #ddd;
}

.table th {
    background-color: $color-second;
}

.table tbody > tr:nth-child(odd) > td,
.table tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

tbody {
    background-color: rgba(69, 124, 140, 0.3);
    cursor:pointer;
}

.table tbody > tr:hover {
    transition: transform .6s;
}

#user{
    width: 600px;
    margin: auto;
    padding: 5rem;
    color: #0B3A44;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    border-radius: $border-radius;
    background-color: $color-second;
    box-shadow: $box-shadow-total;
}

#user_lastname{
    float: right;
    color: #0B3A44;
}

#user_firstname{
    float: right;
    color: #0B3A44;
}

#user_email{
    float: right;
    color: #0B3A44;
}

#user_roles{
    float: right;
    color: #0B3A44;
}

#user_phoneNumber{
    float: right;
    color: #0B3A44;
}

#user_city{
    float: right;
    color: #0B3A44;
}

#user_occupation{
    float: right;
    color: #0B3A44;
}

.btn {
    float: right;
    margin-right: 8%;
    margin-top: 8%;
    padding: 0.5rem;
    background-color: rgba(25, 108, 132, 0.30);
    border-radius: 6.6rem;
    font-size: 1rem;
    font-weight: bold;
    color: #0B3A44;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
.table th,
.table td{
    display: flex;
    flex-direction: column;
    padding: 0.3px;
}
.table thead tr th {
    display: none;
}

    #user_lastname{
        margin-right: 50%;
    }

    #user_firstname{
        margin-right: 50%;
    }

    #user_email{
        margin-right: 50%;
    }

    #user_roles{
        margin-right: 50%;
    }

    #user_phoneNumber{
        margin-right: 50%;
    }

    #user_city{
        margin-right: 50%;
    }

    #user_occupation {
        margin-right: 50%;
    }
}


