//@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css');

h1 {
    font-size: 2rem;
    font-family: $font-text;
    font-weight: bold;
    text-align: center;
    margin: 3%;
    border-radius: 30%;

}

.search {
    font-family: $font-text;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.input {
    color: rgba(25, 108, 132, 0.30);
}

.table {
    font-family: $font-text;
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-radius: 30%;
    background-color: $color-first;
    border: 1px solid #ddd;
}

.table th,
.table td {
    padding: 8px;
    line-height: 1.42857143;
    //vertical-align: top;
    border: 1px solid #ddd;
}

.table th {
    background-color: $color-second;
}

/*.table tbody > tr:nth-child(odd) > td,
.table tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}*/

/*.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
    background-color: #f5f5f5;
}*/

