
@media only screen and (max-width: 600px) {
    button#btnBacktoList {
        margin-top: 4rem;
    }

    button#btnDelete {
        margin-top: 4rem;
    }

    div.form-background-group {
        padding-top: 0.5rem;
    }
    h1.EditGroup{
        margin-top: 6rem;
    }
}
