.my-card-home {
    width: 120rem;
    border-radius: $border-radius;
    background-color: $color-first;
    box-shadow: $box-shadow-total;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 5rem 5rem;

}
