
.searchGroup {
    font-family: $font-text;
    color: #0B3A44;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-right: 10px;

}

form[name="search_group"] > label.required{
    padding-right: 1rem;
}

input#search_group_search{
    margin-left: 1rem;
    border-radius: 0.37rem;
    padding-top: 0.5rem;
    font-size: 1.20rem;
    padding-left: 1rem;
}

form[name="search_group"] > button.submit{
    float: right;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgba(25, 108, 132, 0.3);
    border-radius: 6.25rem;
    font-size: 1rem;
    font-weight: bold;
    color: #0B3A44;
    border: none;
    cursor: pointer;
    margin-top: -2rem;
    margin-right: -6rem;
}

form[name="search_group"] > button.submit:hover{
    box-shadow: 0 3px 8px #0003;
}
.table_responsive{
    font-family: $font-text;
    max-width: 56rem;
    border: 2px solid white;
    background-color: #EEEEEE;
    padding: 1rem;
    overflow: auto;
    margin: auto;
    border-radius:2rem;
    box-shadow: $box-shadow-total;
    width: 80%;
}

table.table_responsive>thead>tr>th{
    background-color: white;
}


table>thead th{
    padding:0.5rem;
    font-size: 1.25rem;
}

table>tbody{
    background-color: #EEEEEE;
}

table th,
table td{
    border: 1px;
    padding-left: 5rem;
}

table.table_responsive th{
    border-radius: 0rem 3.1rem;
}
table td{
    padding-top: 0.5rem;
    font-size: 1.25rem;
}

tr:nth-child(even):hover{
    background-color: whitesmoke;
}

tr:nth-child(odd):hover{
    background-color: whitesmoke;
}

span.action_btn{
    display:flex;
    justify-content:center;
    gap: 1rem;
}

span.action_btn>a{
    text-decoration: none;
    color: #0a0a0a;
    padding: 0.5rem 1rem;
    border-radius: 6.25rem;
    display: inline-block;
    font-weight: bold;
    background-color: rgba(25, 108, 132, 0.30);
}

span.action_btn>a:hover{
    box-shadow: 0 3px 8px #0003;
}

.linkCreateGroupe{
    display: flex;

}
.linkCreateGroupe > p {
    margin: auto;
    padding-bottom: 1rem;
    font-weight: bold;
    font-family: $font-text;
    color: #0B3A44;
    font-size: 1rem;
}

.linkCreateGroupe > p > a {
    text-decoration: none;

}

.linkCreateGroupe > p > a:hover{
    background-color: rgba(25, 108, 132, 0.30);
}

@media only screen and (max-width: 600px){
    div.searchGroup > form > div > label.required{
        margin-left: 1rem;
    }

    form[name="search_group"] > button.submit{
        margin-top: 0.5rem;
        margin-right: 2rem;
        margin-bottom: 0.5rem;}

    h1.searchGroup{
        margin-top: 6rem;
    }

    div.linkCreateGroupe{
        margin-left: 0.5rem;
    }

    table.table_responsive th{
        font-size: 0.75rem;
    }

    table th,
    table td{
        padding-left: 0;
        font-size: 0.75rem;
    }
}
