.my-card-log {
    width: 100%;
    max-width: 130rem;
    border-radius: $border-radius;
    background-color: $color-second;
    box-shadow: $box-shadow-total;
    color: $color-text;
    display: flex;
    justify-content: space-around;
    padding: 5rem;
    align-items: center;
    text-align: center;
}

/*.my-card-log > input {
    width: 100%;
    display: flex;

}*/

.txt {
    color: $color-text;
    display: flex;
    justify-content: space-evenly;
    border-radius: 30%;
}

.container {
    display: flex;
    justify-content: center;
    font-family: $font-text;
    color: $color-text;
    font-weight: bold;
    align-items: center;
    margin: 5%;
    font-size: large;
}

.log {
    font-size: 2.5rem;
    font-family: $font-text;
    font-weight: bold;
    text-align: center;
    margin: 6%;
}

.bottom {
    display: inline;
}

@media screen and (max-width: 768px){
.my-card-log{
    flex-direction: column;
}
}



