.my-card-box {
    width: 100%;
    max-width: 120rem;
    border-radius: $border-radius;
    background-color: $color-second;
    box-shadow: $box-shadow-total;
    color: $color-text;
    justify-content: space-between;
    padding: 3rem;
    align-items: center;

}

.bloc{
    flex-direction: column;
    padding: 5rem;
    text-align: center;

}

.txt {
    color: $color-text;
    display: flex;
    justify-content: space-evenly;
}

#inputEmail.form-control {
    border: none;
    border-radius: 25px;
    margin-top: 5px;
    height: 1.5rem;
    width: 100%;
}

#inputPassword.form-control {
    border: none;
    border-radius: 25px;
    margin-top: 5px;
    height: 1.5rem;
    width: 85%;
}

.container {
    display: flex;
    justify-content: center;
    font-family: $font-text;
    color: $color-text;
    font-weight: bold;
    align-items: center;
    margin: 5%;
    font-size: large;
}

.log {
    font-size: 2.5rem;
    font-family: $font-text;
    font-weight: bold;
    text-align: center;
    margin: 6%;
}


.my-button {
    color: $color-text;
    background-color: $color-button;
    border: none;
    border-radius: $border-radius-button;
    padding: 0.6rem 1.8rem;
    margin: $margin-little;
    font-size: $size-h2;
    font-family: $font-text;
    box-shadow: $box-shadow;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    margin-left: 41%;

}

@media screen and (max-width: 768px){
.my-card-box{
    flex-direction: column;
    padding: 0.5rem;
}
.txt{
    display: flex;
    flex-direction: column;
}

#inputPassword.form-control {
    width: 100%;
}

.bloc{
    padding: 1rem;
}

.log{
    padding: 0.5rem;
}

.my-button {
        display: flex;
        margin-left: 27%;

    }
}



