
.form-background-group {
    width: 73%;
    max-width: 150rem;
    border-radius: $border-radius;
    background-color: $color-second;
    box-shadow: $box-shadow-total;
    color: $color-text;
    justify-content: space-between;
    padding: 3rem;
    align-items: center;
    font-weight: bold;
    margin: auto;
    //display: flex;

}
.formTextGroup > div {
    display: flex;
    flex-direction: column;
}

input[name="group[name]"]{
    width: 25rem;
    padding-top: 0.5rem;
    border-radius: 0.37rem;
    font-size: 1.2rem;
    padding-left: 1rem;
}

#input#group_users-ts-control {
    padding-top: 1rem;
}

.formTextGroup > div > label.required {
    padding-top: 2rem;
}

form[name="group"] button.createGroup {
    //margin: 0;
    align-self: flex-end;
    margin-bottom: -12rem;
    margin-left: 1rem;
    margin-top: 5rem;
}

@media only screen and (max-width: 600px) {

    input[name="group[name]"] {
        width: 13rem;
    }
    h1.groupTitle {
        margin-top: 6rem;
        margin-bottom: 1rem;
    }

    form[name=group] button.createGroup {
        margin-top: 3.5rem;
        margin-right: 4rem;
    }

    div.form-background-group{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
