.loginPasswordReset {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.MailResetPassword {
    align-items: center;
    border-radius: $border-radius;
    background-color: $color-second;
    /*width: 90%;*/
    max-width: 80%;
    margin: 1rem 2rem;
    padding: 2rem;
    font-family: $font-text;
    color: $color-text;
    font-weight: bold;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.CheckMailResetPassword {
    align-items: center;
    border-radius: $border-radius;
    background-color: $color-second;
    /*width: 90%;*/
    max-width: 80%;
    margin: 1rem 2rem;
    padding: 2rem;
    font-family: $font-text;
    color: $color-text;
    font-weight: bold;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.NewResetPassword {
    align-items: center;
    border-radius: $border-radius;
    background-color: $color-second;
    /*width: 90%;*/
    max-width: 80%;
    margin: 1rem 2rem;
    padding: 2rem;
    font-family: $font-text;
    color: $color-text;
    font-weight: bold;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
