

/*table>thead{
    background-color: #F3976B;
}*/

@media only screen and (max-width: 600px) {


    thead>tr.headTitle{
        font-size: 11px;
    }
    div.buttonDeleteForm>button#btnDelete.btn{
    margin-top: 2rem;}

    h1.selectedGroup{
        margin-top: 6rem;
    }

}
