$color-text: #0B3A44;
$color-background: #FFFFFF;
$color-first: #FFFFFF;
$color-second: #F9F9F9;
$color-nav: #F8F8F8;
$color-text-clic: #9B084F;
$color-button: rgba(25, 108, 132, 0.30);
$color-tab: #F3976B;
$radius: 6.25rem;

$size-h1: 4rem;
$size-h2: 1.25rem;
$size-p: 1rem;

$font-text: "Raleway, Arial, sans-serif";

.style-big-button {
    background-color: $color-button;

}


