<form method="post" action="{{ path('app_decision_delete', {'id': decision.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cette décision ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ decision.id) }}">
    <button class="button">Supprimer</button>
</form>
