{% extends 'base.html.twig' %}

{% block title %}Edit Decision{% endblock %}

{% block body %}
    <h1>Éditer la décision</h1>

    {{ include('decision/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_decision_index') }}">Retour à la liste</a>

    {{ include('decision/_delete_form.html.twig') }}
{% endblock %}
