{% extends 'base.html.twig' %}

{% block title %}New Decision{% endblock %}

{% block body %}
    <h1>Create new Decision</h1>

    {{ include('decision/_form.html.twig') }}

    <a href="{{ path('app_decision_index') }}">back to list</a>
{% endblock %}
