{% extends 'base.html.twig' %}

{% block title %}Nouvelle décision{% endblock %}

{% block body %}
    <h1>Créer une nouvelle décision</h1>

    {{ include('decision/_form.html.twig') }}

    <a class="button" href="{{ path('app_decision_index') }}">revenir à la liste</a>
{% endblock %}
