<form method="post" action="{{ path('app_group_delete', {'id': group.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer ce groupe ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ group.id) }}">
    <div class="buttonDeleteForm">
    <button id="btnDelete" class="btn">Supprimer</button>
    </div>
</form>
