{% extends 'base.html.twig' %}

{% block title %}Editer Groupe{% endblock %}

{% block body %}
    <h1 class="EditGroup">Modifier le groupe</h1>

    {{ include('group/_form.html.twig', {'button_label': 'Update'}) }}

    <div>
        {% if is_granted("ROLE_ADMIN") %}
            {{ include('group/_delete_form.html.twig') }}
        {%endif%}
    </div>
   {#    <a href="{{ path('app_group_index') }}">back to list</a>#}
    <button class="btn" id="btnBacktoList" onclick="window.location.href='{{ path('app_group_index')}}'">Retour à la liste</button>


{% endblock %}
