{% extends 'base.html.twig' %}

{% block title %}Nouvel Groupe{% endblock %}

{% block body %}
    <h1 class="groupTitle">Créer un groupe</h1>

    {{ include('group/_form.html.twig') }}

{#    <a href="{{ path('app_group_index') }}">back to list</a>#}
{#    <button class="btn" onclick="window.location.href='{{ path('app_group_index')}}'">Retour à la liste</button>#}
{% endblock %}
