{% extends 'base.html.twig' %}

{% block title %}Makesense{% endblock %}

{% block body %}
    <button class="button-big">gros bouton</button>
    <button class="button">valider</button>
    <p class="onglet-use">Onglet</p>
    <p class="onglet">Onglet</p>
    <p class="color"> Hellooo worlllddd</p>
    <p class="decision-starting">Prise de décision commencée</p>
    <p class="give-opinion">Donner son avis</p>
    <p class="decision-taken">Première décision prise</p>
    <p class="conflict">Rentrer en conflit</p>
    <p class="decision-ending">Décision définitive</p>

    <label class="switch">
        <input type="checkbox"/>
        <span></span>
    </label>

    <div class="flex">
        <div class="my-card">
            <div class="my-card-body">
                <p class="decision-starting">Prise de décision commencée</p>
                <h2 class="my-card-title">Card title</h2>
                <p class="my-card-text">Some quick example text to build on the card title
                    and make up the bulk of the card's content.</p
                <p>Par Jojopok</p>
            </div>
        </div>


        <div class="my-card">
            <div class="my-card-body">
                <h2 class="my-card-title">Card title</h2>
                <p class="my-card-text">Some quick example text to build on the card title
                    and make up the bulk of the card's content.</p
                <p>Par Jojopok</p>
            </div>
        </div>
    </div>

    <div class="square-container-column">
        <div>
            <h2> Descritpion <i class="fa-solid fa-chevron-down"></i></h2>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ducimus, harum illum iusto magnam nihil quis totam ullam!
                At consequuntur culpa deleniti earum et eum fugit incidunt ipsa ipsum laudantium maxime molestiae molestias nesciunt nisi
                nostrum nulla, officiis perferendis praesentium quae ratione reiciendis rerum similique sint tempora unde velit voluptas?</p>
        </div>
        <div>
            <h2> Impact sur l’organisation <i class="fa-solid fa-chevron-down"></i></h2>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ducimus, harum illum iusto magnam nihil quis totam ullam!
                At consequuntur culpa deleniti earum et eum fugit incidunt ipsa ipsum laudantium maxime molestiae molestias nesciunt nisi
                nostrum nulla, officiis perferendis praesentium quae ratione reiciendis rerum similique sint tempora unde velit voluptas?</p>
        </div>
        <div>
            <h2> Bénéfices <i class="fa-solid fa-chevron-down"></i></h2>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ducimus, harum illum iusto magnam nihil quis totam ullam!
                At consequuntur culpa deleniti earum et eum fugit incidunt ipsa ipsum laudantium maxime molestiae molestias nesciunt nisi
                nostrum nulla, officiis perferendis praesentium quae ratione reiciendis rerum similique sint tempora unde velit voluptas?</p>
        </div>
        <div>
            <h2> Risques potentiels <i class="fa-solid fa-chevron-down"></i></h2>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ducimus, harum illum iusto magnam nihil quis totam ullam!
                At consequuntur culpa deleniti earum et eum fugit incidunt ipsa ipsum laudantium maxime molestiae molestias nesciunt nisi
                nostrum nulla, officiis perferendis praesentium quae ratione reiciendis rerum similique sint tempora unde velit voluptas?</p>
        </div>
    </div>

    <div class="square-container-column">
        <h1> Séléction de l'utilisateur</h1>
        <div class="flex">
            <p>Visiteur : </p>
            <label class="switch">
                <input type="checkbox"/>
                <span></span>
            </label>
        </div>
        <div class="flex">
            <p>Utilisateur : </p>
            <label class="switch">
                <input type="checkbox"/>
                <span></span>
            </label>
        </div>
        <div class="flex">
            <p>Administrateur : </p>
            <label class="switch">
                <input type="checkbox"/>
                <span></span>
            </label>
        </div>
    </div>

{% endblock %}


