{% extends 'base.html.twig' %}

{% block body %}



    <div class="square-container-column">

        <h1 id="h1-error">Oups.. quelque chose a mal tourné</h1>


        <p id="p2-error">
            <a href="{{ path('app_decision_index') }}">Retour aux décisions</a>.
        </p>
    </div>
{% endblock %}

